# https://github.com/rime/home/wiki/UserData

# 輸入法程序記錄的使用習慣等信息
# 輸入法程序爲保存用戶的輸入習慣而創建的 用戶詞典。
*.userdb/
# 安裝信息。輸入法程序在首次運行及升級後寫入安裝、升級時間、程序版本等。
installation.yaml
# 用戶狀態信息。包括在 方案選單 選取的輸入方案、輸入法選項狀態如「中／西」「簡／繁」等。
user.yaml

# 部署時生成的文件
# 快取文件。爲使輸入法程序高效運行，在部署過程中將配置、韻書等編譯爲機讀格式。
build/
# 失效的文件。因 Rime 升級而不再使用的舊文件會自動移入這個文件夾。用家確認不再需要後可以刪除。
trash/

.vscode/

*.custom.dict.yaml
